{% extends 'base.htm'%}
{% block body%}
<div class="container-fluid">
<div class="jumbotron">
    <h1 class="display-4">MNNIT ke bacche</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg border-radius:4px" href="/form" role="button">Read More</a>
  </div>
 
  <div class="container-fluid" style="width:80%">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/11.jpg"  class="d-block w-100" alt="...">
          
          <div class="card-body">
            <p class="card-text">nayan ka intro</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        
      </div></div>
    

        
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/33.jpg" style="height:300px;"style=" width:100px;" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                 
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            
          </div></div>
          

            
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
</div></div>
  {% endblock body%}